# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/compiler.xml
/encodings.xml
/jarRepositories.xml
/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_11_1.xml
/libraries/Maven__com_github_spotbugs_spotbugs_annotations_4_0_4.xml
/libraries/Maven__com_google_android_annotations_4_1_1_4.xml
/libraries/Maven__com_google_api_api_common_1_10_0.xml
/libraries/Maven__com_google_api_client_google_api_client_1_30_9.xml
/libraries/Maven__com_google_api_gax_1_58_2.xml
/libraries/Maven__com_google_api_gax_grpc_1_58_2.xml
/libraries/Maven__com_google_api_gax_httpjson_0_75_2.xml
/libraries/Maven__com_google_api_grpc_proto_google_cloud_video_intelligence_v1_1_4_1.xml
/libraries/Maven__com_google_api_grpc_proto_google_cloud_video_intelligence_v1beta2_0_86_1.xml
/libraries/Maven__com_google_api_grpc_proto_google_cloud_video_intelligence_v1p1beta1_0_86_1.xml
/libraries/Maven__com_google_api_grpc_proto_google_cloud_video_intelligence_v1p2beta1_0_86_1.xml
/libraries/Maven__com_google_api_grpc_proto_google_cloud_video_intelligence_v1p3beta1_0_86_1.xml
/libraries/Maven__com_google_api_grpc_proto_google_common_protos_1_18_1.xml
/libraries/Maven__com_google_api_grpc_proto_google_iam_v1_1_0_0.xml
/libraries/Maven__com_google_apis_google_api_services_storage_v1_rev20200611_1_30_9.xml
/libraries/Maven__com_google_auth_google_auth_library_credentials_0_21_1.xml
/libraries/Maven__com_google_auth_google_auth_library_oauth2_http_0_21_1.xml
/libraries/Maven__com_google_auto_value_auto_value_annotations_1_7_2.xml
/libraries/Maven__com_google_cloud_google_cloud_core_1_93_8.xml
/libraries/Maven__com_google_cloud_google_cloud_core_http_1_93_8.xml
/libraries/Maven__com_google_cloud_google_cloud_storage_1_111_2.xml
/libraries/Maven__com_google_cloud_google_cloud_video_intelligence_1_4_1.xml
/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
/libraries/Maven__com_google_code_gson_gson_2_8_6.xml
/libraries/Maven__com_google_errorprone_error_prone_annotations_2_3_4.xml
/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
/libraries/Maven__com_google_guava_guava_29_0_android.xml
/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/libraries/Maven__com_google_http_client_google_http_client_1_36_0.xml
/libraries/Maven__com_google_http_client_google_http_client_appengine_1_36_0.xml
/libraries/Maven__com_google_http_client_google_http_client_jackson2_1_36_0.xml
/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
/libraries/Maven__com_google_oauth_client_google_oauth_client_1_30_5.xml
/libraries/Maven__com_google_protobuf_protobuf_java_3_12_4.xml
/libraries/Maven__com_google_protobuf_protobuf_java_util_3_12_4.xml
/libraries/Maven__com_google_truth_truth_1_0_1.xml
/libraries/Maven__com_googlecode_java_diff_utils_diffutils_1_3_0.xml
/libraries/Maven__commons_codec_commons_codec_1_11.xml
/libraries/Maven__commons_logging_commons_logging_1_2.xml
/libraries/Maven__io_grpc_grpc_alts_1_31_1.xml
/libraries/Maven__io_grpc_grpc_api_1_31_1.xml
/libraries/Maven__io_grpc_grpc_auth_1_31_1.xml
/libraries/Maven__io_grpc_grpc_context_1_31_1.xml
/libraries/Maven__io_grpc_grpc_core_1_31_1.xml
/libraries/Maven__io_grpc_grpc_grpclb_1_31_1.xml
/libraries/Maven__io_grpc_grpc_netty_shaded_1_31_1.xml
/libraries/Maven__io_grpc_grpc_protobuf_1_31_1.xml
/libraries/Maven__io_grpc_grpc_protobuf_lite_1_31_0.xml
/libraries/Maven__io_grpc_grpc_stub_1_31_1.xml
/libraries/Maven__io_opencensus_opencensus_api_0_24_0.xml
/libraries/Maven__io_opencensus_opencensus_contrib_http_util_0_24_0.xml
/libraries/Maven__io_perfmark_perfmark_api_0_19_0.xml
/libraries/Maven__javax_annotation_javax_annotation_api_1_3_2.xml
/libraries/Maven__junit_junit_4_13.xml
/libraries/Maven__org_apache_commons_commons_lang3_3_5.xml
/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_12.xml
/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_13.xml
/libraries/Maven__org_checkerframework_checker_compat_qual_2_5_5.xml
/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_19.xml
/libraries/Maven__org_conscrypt_conscrypt_openjdk_uber_2_2_1.xml
/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/libraries/Maven__org_threeten_threetenbp_1_4_4.xml
/modules.xml
